% Prod-4/5 configuration file with site-specific parameters.

#ifndef TELESCOPE
# define TELESCOPE 0
#endif

#define ATMOSPHERE_LA_PALMA
#define CTA_SITE LaPalma

#if TELESCOPE == 0

% The altitude level and the corresponding transmission are typically
% configured on the command line. So this is more a reminder of what to expect:

# ifndef SITE_ALTITUDE
#  define SITE_ALTITUDE 2158
# endif
# ifndef SITE_NAME
#  define SITE_NAME LaPalma
# endif
  altitude = $(SITE_ALTITUDE) % m
# if defined(LOW_EXTINCTION)
    echo Using low-aerosol (very quiet sea) atmospheric transmission table for the site on La Palma.
    atmospheric_transmission = atm_trans_$(SITE_ALTITUDE)_1_3_2_0_0_0.1_0.1.dat
# elif defined(NAVY_MARITIME)
    echo Using navy-maritime atmospheric transmission table for the site on La Palma.
    atmospheric_transmission = atm_trans_$(SITE_ALTITUDE)_1_3_0_0_0.dat
# else
    echo Warning: using desert atmospheric transmission table for the site on La Palma
    atmospheric_transmission = atm_trans_$(SITE_ALTITUDE)_1_10_0_0_$(SITE_ALTITUDE).dat
# endif

#endif
